main{
    width: 1410px;
    margin: 0 auto;
}
header{
    background-color: #ebeae5;
    
}
header main{
    display:flex;
    justify-content: space-between;
}
header main div:nth-child(1) p a{
    font-size: 12px;
}
header div:nth-child(1),header div:nth-child(2),header div:nth-child(3){
    display: flex; 
    margin-top: 10px;
}
header div:nth-child(1) p,header div:nth-child(2) p,header div:nth-child(3) p{
    margin-left: 22px;
    font-size: 12px;
}
header div:nth-child(1) p a,header div:nth-child(2) p a,header div:nth-child(3) p a{
    color: #000;
    font-size: 12px;
}
header div:nth-child(1) p:nth-child(5){
    color: #d2000f;
}
header div:nth-child(3) #c{
    background: url(../img/log.png) no-repeat;
    background-position: -19px 1px;
    width: 33px;
    height: 22px;
    display: block;
}




.head main{
display: flex;
}
#head1{
    background: url(../img/log.png) no-repeat;
    background-position: 8px -58px;
    width: 268px;
    height: 64px;
    display: block;
    margin-top: 30px;
    margin-left: 20px;

    
}
.head main div:nth-child(2){
    margin-top: 28px;
    margin-left: 40px;
}
.head main div:nth-child(2) h2{
    color: #d2000f;
}
.head main div:nth-child(2) p{
    color: #bcbcbb;
    font-size: 16px;
}
.head main div:nth-child(3) input{
    border: 3px solid #000000;
}
.col-lg-3{
    width: 500px;
    margin-top:28px;
    margin-left: 60px;
}
.btn{
    background-color: #000;
    color: #fff;
} 
.col-lg-3 div:nth-child(2) a{
    margin-left: 8px;
}
.head main div:nth-child(3) div:nth-child(2){
    margin-top: 0px;
    margin-left: 0px;
    font-size: 12px;
}

.max main{
    display: flex;
}
.max main div:nth-child(1){
    margin-top: 34px;
    margin-left: 40px;
    width: 238px;
    text-align: center;
    
    
}
.max main div:nth-child(1) p{
    background-color: #d2000f; 
    font-size: 18px;
    width: 238px;
    cursor: pointer;
}
.max main div:nth-child(2){
    margin-top: 36px;
    margin-left: 40px;
}
.max main div:nth-child(2) a{
    margin-left: 10px;
}
.max main div:nth-child(1) ul{
    display: none;
    float: left;
    background-color: #fff;
    width: 238px;
    position: absolute;
    z-index: 99;
   
}
.max main div:nth-child(1) ul a{
    float: left;
}
.max main div:nth-child(1) ul li{
    line-height: 30px;
    margin-left: 5px;
    float: left;
   
}
.max main div:nth-child(1) li:hover{
    background-color: #d2000f;
}

.jin main p{
    margin-left: 40px;
}

.fdj main{
    display: flex;
    justify-content: space-between;
}
.fdj main .left{
    margin-left: 20px;
}

.box{
    width: 350px;
    height: 350px;
    position:absolute;
   
    top:20px;
    margin-top: 198px;
    
}
.box img{
    width: 350px;
    height: 350px;
}
.mark{
    width: 175px;
    height: 175px;
    background: rgba(0,0,0,0.4);
    position: absolute;
    left: 0px;
    top:0px;
    display:none;
    
}
.rightBox{
    width: 350px;
    height: 350px;
    position: absolute;
    left:550px;
    top:20px;
    overflow: hidden;
    display: none;
    margin-top: 198px;
   
}
.rightBox img{
    width: 700px;
    height: 700px;
    position:absolute;  
}
.imgs{
    position: absolute;
    top:400px;
    
    display: flex;
    justify-content: center;
    margin-top: 198px;
  
    
}
.imgs img{
    width: 70px;
    height: 70px;
    /* margin-top: 198px; */
}
.border1{
    border:2px solid red;
}

.fdj main .center{
    margin-left: 100px;
    margin-top: 6px;
}

.fdj main .center div:nth-child(4) {
    background-color: #DCDDDD;
}
.fdj main .center span{
    font-size: 12px;
    color: #D2200F;
}
.fdj main .center ul{
    display: flex;
    justify-content: space-between;
}
.fdj main .center ul li:nth-child(1){
    text-decoration: line-through;
    
}
.fdj main .center div:nth-child(4) div:nth-child(2){
    display: flex;
    margin-top: 30px;
  
}
.fdj main .center div:nth-child(4) div:nth-child(2) h3{
  
    color: #D2200F;
}
.fdj main .center div:nth-child(4) div:nth-child(2) span{
    font-size: 16px;

}
.fdj main .center p:nth-child(5),.fdj main .center p:nth-child(6),.fdj main .center p:nth-child(7){
    font-size: 12px;
     margin-top: 5px; 
    
}
.fdj main .center p:nth-child(5){
    color: #d2200f;
    border-bottom:2px dotted #dcdddd ;
}

.fdj main .center p:nth-child(5) span,.fdj main .center p:nth-child(6) span,.fdj main .center p:nth-child(7) span{
    color: #dcdddd;
}
.fdj main .center p:nth-child(6),.fdj main .center p:nth-child(7){
    color: #000;
}

.ma{
    display: flex;justify-content: center;  
}

.ma div img{
    width: 70px;
    height: 70px;
    margin-left: 10px;
}
.ma div p{
    font-size: 12px;margin-left:20px
}
.size {
    margin-top: 40px;
}
.size p{
    font-size: 12px; margin-top: 5px; color: #000;
}
.size a{
    border: 1px solid #ccc;
}






#last{
    font-size: 12px;
     margin-top: 5px; 
     color: #dcdddd;
}





.fdj main .right p{
    
    margin-right: 120px;   
}
.fdj main .right ul li{
    margin-top: 20px;
}
.fdj main .right ul li .priceTag,.fdj main .right ul li .priceTag1,.fdj main .right ul li .priceTag2{
    height: 20px;
    background: #fff;
    opacity: 0.8;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 140px;
    line-height: 20px;
    margin-left: -18px;
    margin-top: -18px;
    display: flex;
    justify-content: space-around;   
}
.fdj main  .center{
    width: 418px;
}

 #right-sidebar{
	position: fixed;
	right: 0;
	bottom: 0;
	width: 35px;
	height: 100%;
	background-color: #000;
}
#right-sidebar .sidebar-logo{
	position: relative;
	margin-top: 119px;
	width: 35px;
	height: 35px;
	background: url("../img/img/kf.png");
}
#right-sidebar .sidebar-logo:hover{
	background-color: #FF0036;
}
#right-sidebar .shopping-cart{
	position: relative;
	margin: 8px 0;
	width: 35px;
	height: 100px;
}
#right-sidebar .shopping-cart:hover{
	background-color: #ff0036;
}
#right-sidebar .shopping-cart .border{
	margin: auto;
	width: 25px;
	height: 98px;
	border: 1px solid #444;
	border-width: 1px 0;
}
#right-sidebar .shopping-cart:hover .border{
	border: none;
}
#right-sidebar .shopping-cart .icon-unie60a{
	position: absolute;
	top:10px;
	left:6px;
	font-size: 22px;
	color: #ff0036;
}
#right-sidebar .shopping-cart:hover .icon-unie60a{
	color: #fff;
}
#right-sidebar .shopping-cart span{
	position: absolute;
	top:26px;
	left: 7px;
	display: block;
	width: 20px;
	height: 50px;
	text-align: center;
	color: #fff;
}
#right-sidebar .assets{
	position: relative;
	margin: 8px auto;
	width: 35px;
	height: 35px;
	background: url("../img/img/rmb.png");
}
#right-sidebar .assets:hover{
	background-color: #ff0036;
}
#right-sidebar .collection{
	background: url("../img/img/shoucang.png");
}
#right-sidebar .history{
	background: url("../img/img/lishi.png");
}
#right-sidebar .top-up{
	background: url("../img/img/chongzhi.png");
}
#right-sidebar .unified{
	position: absolute;
}

#right-sidebar .qr-code{
	bottom: 35px;
	background: url("../img/img/erweima.png");
}
#right-sidebar .return{
	bottom: 0;
    background: url("../img/img/fanhui.png");
}

#right-sidebar .barrage-box{
	display: none;
	position: absolute;
	top: 0;
	left:-90px;
	width: 90px;
	height: 35px;
	background-color: #494949;
	line-height:35px;
	text-align: center;
	color: #fff;
}
#right-sidebar .barrage-box:after{
	position: absolute;
	top:12px;
	right: -5px;
	content:"";
	width: 10px;
	height: 10px;
	background-color: #494949;
	transform: rotate(45deg);
}
#right-sidebar .sidebar-logo:hover .barrage-box{
	display: block;
}
#right-sidebar .assets:hover .barrage-box{
	display: block;
}
#right-sidebar .qr-code-box{
	display: none;
	position: absolute;
	left: -155px;
	top:-161px;
	width: 155px;
	height: 207px;

}
#right-sidebar .qr-code-box img{
	margin:45px 0 0 27px;
	width: 100px;
	height: 100px;
}
#right-sidebar .qr-code-box .img-small{
	margin:-3px 10px 0 10px;
	width: 135px;
	height: 45px;
}
#right-sidebar .qr-code-box:after{
	position: absolute;
	top:174px;
	right: -5px;
	content:"";
	width: 10px;
	height: 10px;
	background-color: #ff0036;
	transform: rotate(45deg);
}
#right-sidebar .qr-code:hover .qr-code-box{
	display: block;
} 































.particulars main .particulars-left{
    float: left;
    width: 238px;
    margin-left: 40px;
    margin-top: 100px; 
    cursor: pointer;
}
.particulars .particulars-left .particulars-top .top{
    display: flex;
    justify-content: space-between;
    width: 238px;
    background-color: #a6a498;
    line-height: 38px;
}
.particulars .particulars-left .particulars-top .top p a{
    color: #000;
}
.particulars .particulars-left .particulars-top  .bottom{
    text-align: center;  
}
.particulars .particulars-left .particulars-top  .bottom ol{
    display: flex;
    width: 222px;
    justify-content: center;
}
.particulars .particulars-left .particulars-top  .bottom ol img{
    width: 110px;
    margin-left: 17px;
} 
.particulars .particulars-left .particulars-bottom .top{
    display: flex;
    justify-content: space-between;
    width: 238px;
    background-color: #a6a498;
    line-height: 38px;
    border: solid 2px #ccc;
}
.particulars .particulars-left .particulars-bottom  .bottom{
 
    width: 238px; 
    text-align: center;
    border: solid 2px #ccc;
} 
.particulars .particulars-left .particularsbottom  .bottom ol{
    width: 222px;
    display: flex;

}
.particulars .particulars-left .particulars-bottom  .bottom ol img{
    width: 180px;
    margin-left: 17px;
    margin-top: 10px;
}
.particulars .particulars-left .particulars-bottom  .bottom ol li:nth-child(2){
     float: left;
     
}
.particulars .particulars-left .particulars-bottom  .bottom ol li:nth-child(2) a{
    margin-left: 52px;
    font-size: 12px;
    color: #000;
}
.particulars .particulars-left .particulars-bottom  .bottom ol li:nth-child(4){
    width: 238px;
    display: flex;
    justify-content: center;    
}
.particulars .particulars-left .particulars-bottom  .bottom ol li:nth-child(4) p{
    margin-left: 24px;
    color: #d2000f;
    font-size: 12px;
}




.particulars-right {
    float: left;
    margin-left: 10px;
    width: 950px;
    /* background-color: aqua; */
    font-size: 12px;
   
}
.btn-group-justified{
    width: 300px;

}










.details .tab  .tab_list  li {
    list-style-type: none;
}

.tab {
    width: 853px;
    margin: 100px auto;
}

.tab_list {
    height: 39px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab_list li {
    float: left;
    height: 39px;
    line-height: 39px;
    padding: 0 20px;
    text-align: center;
    cursor: pointer;
}

.tab_list .current {
    background-color: #c81623;
    color: #fff;
}

.item_info {
    padding: 20px 0 0 20px;
}

.tu main{
    width: 853px;
}
.tu main img{
    width: 853px;
}




.foot main .top{
    margin-left: 130px;
}
.foot main .bottom{
    display: flex;
    justify-content:center ;
}
.foot main .bottom ul{
    margin-left: 50px;
    text-align: center;
}
.foot main .bottom ul li{
    margin-top: 10px;
}

.foot main .bottom ul li a{
    font-size: 16px;
    color: #000;
    
}
footer{
    text-align: center;
    font-size: 12px;
    border-top:#a6a498 2px solid ;
    margin-top: 10px;
    background-color: #42413d;
}
footer .di{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}